* {
    box-sizing: border-box;
    color: gray;
    
}

<<<<<<< HEAD
a{
    text-decoration: none;
=======
a {
    text-decoration: none;
    color: fuchsia;
}

a:hover {
    text-decoration: underline;
    color: red;
>>>>>>> origin/main
}